* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 96vh;
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
    font-size: 30px;
    
    
}
